* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg,red, purple);
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    height: 500px;
    background-color: aliceblue;
    padding: 20px 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 8px 8px -4px #333;
}

p {
    font-size: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center
}

.container_form {
    margin: 40px 0;
}

.input_form {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    height: 50px;
}

.input_form label {
    font-size: 10px;
    padding-bottom: 10px;
}

.input-box {
    line-height: 40px;
    height: 30px;
    border-radius: 10px;
    border-top: #333;
    border-left: #333;
    border-right: #333;
    outline: none;
    padding-left: 10px;
    /* margin-top: 12px; */
}

.header_form {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.btn_form {
    margin-top: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(45deg,red, purple);
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 300;

}

.btn_form:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header_form,
.btn_form {
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}